:root {
  --background-light: #edebd9;
  --primary-dark: #00848c;
  --secondary-dark: #037272;
  --accent-light: #fccf17;
  --accent-dark: #fec20f;
  --text-primary: #1c1f4c; 
}

@font-face {
  font-family: Archivo;
  src: url(/source/fonts/Archivo-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: Archivo;
  src: url(/source/fonts/Archivo-Italic-VariableFont_wdth\,wght.ttf);
  font-style: italic;
}

@font-face {
  font-family: Cormorant;
  src: url(/source/fonts/Cormorant-VariableFont_wght.ttf);
}

@font-face {
  font-family: Cormorant;
  src: url(/source/fonts/Cormorant-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

* {
  box-sizing: border-box;
  font-family: Archivo;
  margin: 0;
}

body {
  background-color: var(--background-light);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-light);
  box-shadow: 0 1px 4px 0px var(--text-primary);
  position: sticky;
  top: 0;
}

nav {
  align-self: flex-end;
  padding-bottom: 25px;
  padding-right: 10px;
  font-size: 0.93rem;
}

nav a{
  color: var(--text-primary);
  text-decoration: none;
  margin-right: 10px;
}

h1, h2 {
  font-family: Cormorant;
  color: var(--text-primary);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem
}

/* ************* Welcome Section ************* */
#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: 100vh;
  background: url('/source/images/diamond-bg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

#welcome-title {
  padding-bottom: 2rem;
}

#welcome-section p {
  color: var(--text-primary);
  font-family: Archivo;
  font-style: italic;
  font-size: 1.3rem;
}

#main-photo {
  max-width: 300px;
  border-radius: 50%;
}

/* #about {
  color: var(--text-primary);
  padding: 25px 15px;
}

#about h2{
  padding-bottom: 25px;
}

#projects {
  display: grid;
  padding: 25px 15px;
  color: var(--background-light);
  background-color: var(--secondary-dark);
}

#projects h2 {
  color: var(--background-light);
  padding-bottom: 25px;
}

.project-tile {
  margin: 2rem;
  padding-bottom: 20px;
  max-width: 350px;
}

.tile-bg {
  background-color: var(--text-primary);
  transform: rotate(-15deg);
  box-shadow: 0 0 4px 1px var(--accent-light);
}

.tile-content {
  background-color: var(--background-light);
  transform: rotate(15deg);
} */