:root {
  --background-light: #edebd9;
  --primary-dark: #00848c;
  --secondary-dark: #037272;
  --accent-light: #fccf17;
  --accent-dark: #fec20f;
  --text-primary: #1c1f4c; 
}

@font-face {
  font-family: Archivo;
  src: url(/source/fonts/Archivo-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: Archivo;
  src: url(/source/fonts/Archivo-Italic-VariableFont_wdth\,wght.ttf);
  font-style: italic;
}

@font-face {
  font-family: Cormorant;
  src: url(/source/fonts/Cormorant-VariableFont_wght.ttf);
}

@font-face {
  font-family: Cormorant;
  src: url(/source/fonts/Cormorant-Italic-VariableFont_wght.ttf);
  font-style: italic;
}

* {
  box-sizing: border-box;
  font-family: Archivo;
  margin: 0;
}

body {
  background-color: var(--background-light);
}

h1, h2 {
  font-family: Cormorant;
  color: var(--text-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-style: italic;
  font-size: 2rem;
  padding-bottom: 1rem;
}

h3 {
  font-family: Archivo;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

p {
  font-family: Cormorant;
  font-size: 1.1rem;
}

.icons {
  width: 25px;
}

/* ************* Header Section ************* */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-light);
  box-shadow: 0 1px 4px 0px var(--text-primary);
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  padding: 1rem 0;
}

#logo {
  max-width: 70px;
}

#navbar {
  align-self: flex-end;
  margin-bottom: 25px;
  padding-right: 10px;
  font-size: 0.90rem;
}

#navbar a{
  color: var(--text-primary);
  text-decoration: none;
  margin-right: 10px;
}



/* ************* Welcome Section ************* */
#welcome-section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20% 80%;
  padding-top: 1.5rem;
  height: 100vh;
  background: url('/source/images/diamond-bg.svg');
  background-repeat: no-repeat;
  background-size: 20rem;
  background-position-y: 2rem;
}

#welcome-title {
  padding: 2rem;
}

#welcome-title span {
  color: var(--text-primary);
  font-family: Cormorant;
  font-size: 1.5rem;
}

#welcome-section p {
  color: var(--text-primary);
  font-family: Cormorant;
  font-style: italic;
  font-size: 1.3rem;
}

#main-photo {
  max-width: 300px;
  border-radius: 50%;
  justify-self: center;
}



/* ************* About Section ************* */
#about {
  color: var(--text-primary);
  padding: 25px 15px;
}



/* ************* Projects Section ************* */
#projects {
  padding: 25px 15px;
  color: var(--background-light);
  background-color: var(--secondary-dark);
}

.tile-collection {
  display: grid;
  justify-content: center;
}

#projects h2 {
  color: var(--background-light);
  padding-bottom: 25px;
}

.project-tile {
  margin: 1rem;
  padding-bottom: 20px;
  max-width: 300px;
}

.tile-bg {
  background-color: var(--text-primary);
  transform: rotate(-15deg);
  box-shadow: 0 0 4px 1px var(--accent-light);
}

.tile-content {
  background-color: var(--background-light);
  transform: rotate(15deg);
}

.tile-header {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.tile-body {
  color: var(--text-primary);
  padding: 1rem;
  border-top: 1px solid var(--secondary-dark);
}

.tile-body-title {
  display: flex;
  justify-content: space-between;
}

.project-img {
  max-width: 200px;
}



/* ************* Footer Section ************* */
#contact {
  color: var(--text-primary);
  padding: 25px 10px;
}

.contact-info {
  padding-bottom: 2rem;
}

.contact-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

#contact-img {
  width: 100%;
}